nav.navbar {
    margin: 0%;
    width: 100vw;
    }
  
nav#edit-nav {
    margin-bottom: 2rem;
}
  

@media screen and (orientation:landscape) {
    nav#edit-nav {
        margin-bottom: 2.5rem;
    }
}
