.account-container {
    /* border: 1px solid black; */
    width: 100%;
    /* border-radius: 1rem; */
    text-align: center;
     /* background: rgb(255,255,255,.8); */
     background:rgb(255,246,215,.8);
    padding: 1rem;
    margin: 0 auto;
    font-family: 'Cinzel Decorative', cursive;
}

.account-box1 {
    width: 95%;
    /* margin: 0rem; */
    font-family: 'Cinzel Decorative', cursive;
}

.account-box2 {
    width: 95%;
    /* margin: 2rem; */
    font-family: 'Cinzel Decorative', cursive;
}


@media (min-width:768px){

    #account-body {
        height: 100vh;
        width:100vw;
        background: url("https://wallpaperaccess.com/full/25517.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    .account-container {
        border-radius: 1rem;
        width: 70%;
        /* background: rgb(255,255,255,.8); */
        padding: 1rem;
        margin: 5rem auto;
        font-family: 'Cinzel Decorative', cursive;
    }

    #account-title {
        text-align: center;
        font-size: 2rem;
    }

    .account-box1 {
        display: block;
        float: left;
        width: 40%;
        margin: 2rem;
        /* font-family: 'Cinzel Decorative', cursive; */
    }

    .account-box2 {
        display: block;
        float: left;
        width: 40%;
        margin: 2rem;
        font-family: 'Cinzel Decorative', cursive;
    }

    .submit-btn {
        content: "";
        clear: both;
        display: table;
        margin: 0 auto;
    }
}        