#reg-body {

}
.container {
    border: 1px solid black;
    border-radius: .25rem;
    background: #fff;
    padding: 1rem;
}

#reg-title {
    text-align: center;
}

.reg-box1 {
    display: block;
    float: left;
    width: 40%;
    margin: 2rem;

}

.reg-box2 {
    display: block;
    float: left;
    width: 40%;
    margin: 2rem;
}

.submit-btn {
    content: "";
    clear: both;
    display: table;
    margin: 0 auto;
}