.sale-body {
    background: url("/images/gotmap.jpg")
}

.card-image{
    margin: 0 auto;
    height: 15rem;
    width: 15rem;
}

.card-title {
    font-size: 1rem;
    text-align: center;
}

.card-price {
    font-size: 1.25rem;
    text-align: center;
}

.card-desc {
    font-size: .75rem;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

.card-btn {
    margin: 2rem auto;
    text-align: center;

}


