nav.navbar {
  margin: 0%;
  float: left;
}

.sale-nav-link {
  color: #d8dfe6;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

.sale-nav-link:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 4px 8px 0 rgb(218, 213, 213), 0 6px 20px 0 rgb(218, 213, 213);
}

.sale-nav-img {
  /* width: 30px; */
  height: 70px;
}