nav.navbar {
  margin: 0%;
  float: left;
}

.sale-nav-link {
  padding: 1em 1.5em;
  text-transform: uppercase;
}

.sale-nav-link:hover {
  /* background-color: #555; */
  text-decoration: none;
  /* box-shadow: 10px 6px -6px #777; */
  box-shadow: 0 4px 8px 0 rgb(196, 194, 194), 0 6px 20px 0 rgb(196, 194, 194);
}